.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.headings4-div {
    margin: 50px auto;
    width: 70vw;
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heading4Div {
    height: 100%;
    width: 25%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 1.3em;
    font-weight: 600;

    margin: 0;
}
.table-div {
    margin: 50px auto;
    width: 70vw;
}
.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.myTextHolderDiv {
    width: 100%;
    height: 100%;
}
.compoundDiv1 {
    flex-grow: 1;
    display: flex;
}
.compoundDiv2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.table {
    display: flex;
    flex-direction: column;
}
.toogleAndImg-div {
    margin: 50px auto;
    width: 70vw;
    height: 30vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.darkenBackground {
    background-color: #E7F1FF;
}
.blueText {
    color: blue;
}
#accordion {
    flex-basis: 73%;
    height: fit-content;
}
.headlines3-div {
    width: 70vw;
    height: 30vh;
    margin: 50px auto;

    display: flex;
    flex-direction: row;
}
.headling3Div {
    width: 50%;
    height: fit-content;
}
.headline4Form-div {
    width: 45vw;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.red-star {
    color: red;
}
.subjectForm {
    width: 100%;
}
.sendBtnDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn-success {
    background-color: #198754;
    font-weight: 400;
}
.footerDiv {
    width: 100%;
    height: fit-content;
    background-color: #6C757D;
}
.footerItemsDiv {
    width: 70%;
    margin: 0 auto;
    height: fit-content;
    padding: 40px 0;
}
.footerLoremDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bLogoDiv {
    font-size: 7.2rem;
    font-weight: 550;
    font-family:Arial, Helvetica, sans-serif;
    color: #6C757D;
    background-color: white;
    width: 150px;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}
.blackText {
    color: black;
}
.whiteText {
    color: white;
}
.mediumWeight {
    font-weight: 600;
}
.whiteBackground {
    background-color: white;
}